
#start {
	margin-top: 10px;
}

#restart {
	margin-top: 10px;
}

#splashScreen {
	display: inherit;
	margin-top: 150px;
}

#questions {
	display: none;
	margin-top: 150px;
}

#snarf {
	background: #fff;
}

#text {
	margin-bottom: 20px;
}

#gameOver {
	display: none;
	margin-top: 150px;
}

#timer {
	visibility: hidden;
}

#img1 {
	height: 400px;
	background: url("../images/kingArthur.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#img2 {
	height: 400px;
	background: url("../images/bridgeKeeper.png");
	background-repeat: no-repeat;
	background-size: contain;
}












